*{
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.product-item{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 33%;
    border: 1px solid red;
    text-align: center;
}
.item img{
    width: 20vw;
    height: 20vw;
    margin: auto;
}
